*.exe
*-ginterface.[ch]
*.gir
*.la
*.lo
*-marshals.[ch]
*.o
*.pyc
*.typelib
.deps
.dirstamp
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
dax*.pc
depcomp
dox*.pc
gtk-doc.make
install-sh
intltool-*.in
libtool
ltmain.sh
mex*.pc
missing
mkinstalldirs
player/mex-media-player
player/mex-media-player.service
stamp-*
stamp-h1
thumbnailer/mex-thumbnailer
.*.sw?
.gdb_history

.clang_complete
core.*
*.rej
*.orig
