
/* This padding is temporary until we have real widgets to add this space */

MexColumn > MxBoxLayout.Header MxIcon
{
  -mx-icon-size: 26;
}

MexExplorer#main-explorer > MexScrollView
{
  padding: 25 100 0;
}

*#tool-area
{
  background-color: #0000001a;
  padding: 100 0 0;
}

*#main-layout
{
  border-image: url('main-bg.png') 0;
}

*#grid-page
{
  padding: 34 39 0 39;
}

*#grid-page > *#content
{
  padding: 6 0 0;
}

*#grid-page MxLabel.Header
{
  padding: 15 21;
  border-image: url('panel-header-grid-bg.png') 0 55 1 0;
}

MxBoxLayout.Header#menu-header
{
  padding: 15 10;
  -mx-spacing: 10;
}

MxBoxLayout.Header#menu-header > MxLabel,
#grid-page MxLabel.Header
{
  font-size: 22;
}

MxLabel.Title
{
  color: white;
  padding: 18 12;
}

MxSpinner#main-spinner
{
  padding: 12;
}

MxIcon.Usb
{
  -mx-icon-name: "icon-panelheader-usb";
}

MxIcon.Local
{
  -mx-icon-name: "icon-panelheader-computer";
}
