Source: media-explorer
Section: gnome
Priority: extra
Maintainer: Lionel Landwerlin <llandwerlin@gmail.com>
Build-Depends: libglib2.0-dev (>= 2.26.0), libclutter-gst-dev (>= 1.3.6),
 libmx-dev (>= 1.2.0), libsoup2.4-dev, libtracker-sparql-0.10-dev,
 libgdk-pixbuf2.0-dev, librest-dev (>= 0.7.0),
 libdbus-glib-1-dev, libgrilo-0.1-dev (>= 0.1.15),
Standards-Version: 3.7.2
Homepage: http://media-explorer.github.com/

Package: media-explorer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Media explorer media center application
 .
 Media explorer is a media center application for Linux.
 .
 Media explorer's features include:
 .
 * Browse, search and play media on local (inc. USB) and UPnP filesystems.
 * Smooth, fast, animated user interface (based on Clutter + Mx).
 * User experience designed to be usable with standard TV remote controls.
 * Media player (using GStreamer for playback) controllable over DBus.
 * Plugin system for adding new types of content and user interface
   extensions.
 * Uses standard metadata (Tracker) and media (Grilo) libraries for Linux.
 * Library of reusable classes plus Model-View-Controller framework
   for media playback and presentation (written in C/GObject).

Package: media-explorer-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, media-explorer
Description: Media explorer media center application
 .
 Media explorer is a media center application for Linux.
 .
 This package contains unstripped application, useful to debug.
