#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk


# Add here any variable or target overrides you need.

DEB_CONFIGURE_SCRIPT := ./autogen.sh

DEB_CONFIGURE_EXTRA_FLAGS :=		\
	--disable-upnp			\
	--disable-applications		\
	--disable-library		\
	--enable-networks=no		\
	--enable-displayconf=no		\
	--enable-examples=no		\
	--enable-introspection=no	\
