/* Default Styles */
MxLabel, MxButton, MxIcon, MxComboBox, MxComboBox:disabled
{
  font-size: 18;
  font-family: "Droid Sans";
  border-image: none;
  -mx-icon-size: 26;
  color: #2a3c4a;
}

MxMenu
{
  border-image: none;
  background-color: #1e1821e5;
}

MxLabel.MexMenuSectionHeader
{
  padding: 11 15;
  background-color: #27252b;
}

MxButton, MxButton:checked, MxButton:hover, MxButton:active, MxButton:disabled,
MxMenu > MxButton, MxMenu > MxButton:hover, MxMenu > MxButton:disabled
{
  border-image: none;
  padding: 12 15;
}

MxEntry
{
  font-size: 18;
}

MxComboBox:focus, MxButton:focus,
MxMenu > MxButton:focus
{
  border-image: url("highlight-bg.png") 0;
  color: white;
}

MxButton:focus MxLabel,
MxMenu > MxButton:hover > MxLabel
{
  color: white;
}

MxButton#placeholder:focus
{
  border-image: none;
}

MexScrollView
{
  x-mex-scroll-shadow: url('footer.png');
}

/* Main Spinner */
MxSpinner#main-spinner
{
  padding: 12;
}

/* Home and column view */
MexResizingHBox.column-view
{
  padding: 34 50 0 39;
}

MxButton:focus MxIcon, MxButton.MexSearchBoxOpen MxIcon
{
  -mx-icon-suffix: "-highlight";
}

/* Clock */
.MexClockBin > MxLabel
{
  color: #666666;
  font-size: 16;
}

/* Notifications */
MexInfoBar
{
  padding: 10 45 0 45;
}

/* Power Button */
MxButton.Power
{
  -mx-icon-name: "icon-power";
  padding: 4;
}

MxButton.Settings
{
  -mx-icon-name: "icon-settings";
  padding: 4;
}

MxButton.Settings:focus
{
  -mx-icon-name: "icon-settings";
}

MxButton.Back
{
  -mx-icon-name: "icon-back";
  padding: 4;
}

MexInfoBar MxButton:focus
{
  border-image: none;
}

/* Icons */
MxIcon.Clear
{
  -mx-icon-name: "edit-clear-mex";
}

MxIcon.Document, MxIcon.Video, MxIcon.Image
{
  -mx-icon-name: "video-x-generic-mex";
}

MxIcon.Audio
{
  -mx-icon-name: "audio-x-generic-mex";
}

MxIcon.Folder
{
  -mx-icon-name: "folder-mex";
}

MxIcon.Usb
{
  -mx-icon-name: "icon-panelheader-usb";
}

MxIcon.Local
{
  -mx-icon-name: "icon-panelheader-computer";
}

MxIcon.Left
{
  -mx-icon-name: "stock_left-mex";
}

MxIcon.Right
{
  -mx-icon-name: "stock_right-mex";
}

MxIcon.Toggle
{
  -mx-icon-name: "icon-checkbox-off";
}

MxIcon.Toggle:checked
{
  -mx-icon-name: "icon-checkbox-on";
}

/* Columns */
MexColumn
{
  padding: 6 0 0 0;
}

/* Headers */
.Header, .Header MxLabel
{
  font-size: 22;
  color: #2a3c4a;
}

.Header, .Header:active, .Header:hover
{
  -mx-spacing: 8;
  background-color: #d4d5cf;
  padding: 15;
  color: #2a3c4a;
}

.Header:focus
{
  border-image: url("highlight-bg.png") 0;
  color: white;
}

#menu-header
{
  background-color: #cdcec8;
}

/* Content Box */
MexContentBox.open
{
  border-image: url('details-bg.png') 0;
}

/* Content Box Headers */
MexTile
{
  x-mex-header-padding: 14;
  color: white;
  font-size: 18;
  font-family: "Droid Sans";
}

MexTile:focus
{
  x-mex-header-padding: 11 14;
}

MexTile.Important > MxIcon.Info
{
  -mx-icon-size: 28;
}

MexTile.Important:focus > MxIcon.Info
{
  -mx-icon-name: "icon-info-highlight";
}

MexColumnView.Search MexTile.Important:focus > MxIcon.Info
{
  -mx-icon-name: none;
}

MexTile.Important
{
  x-mex-header-background-color: #d4d5cfcc;
  color: #2a3c4a;
}

MexTile.Important:focus
{
  x-mex-header-background: url("highlight-bg.png");
  x-mex-header-background-color: none;
  color: white;
}

MexActionList {
  background-color: white;
}

/* Placeholder Tile */
MexColumnView > .placeholder-label
{
  padding: 12;
  border-image: url('thumb-no-content.png') 0;
}

/* Media Buttons */
MxButton.MediaPlay
{
  -mx-content-image: url("icon-play.png");
}

MxButton.MediaPlay:focus
{
  -mx-content-image: url("icon-play-highlight.png");
}

MxButton.MediaPause
{
  -mx-content-image: url("icon-pause.png");
}

MxButton.MediaPause:focus
{
  -mx-content-image: url("icon-pause-highlight.png");
}

MxButton.EndCall
{
  -mx-icon-name: "call-end";
}

MxButton.CameraOff
{
  -mx-icon-name: "call-video-off";
}

MxButton.CameraOn
{
  -mx-icon-name: "call-video";
}

MxButton.MediaMute
{
  -mx-icon-name: "call-mic-mute";
}

MxButton.MediaUnmute
{
  -mx-icon-name: "call-mic-on";
}

MxButton.MediaStop
{
  -mx-content-image: url("icon-stop.png");
}

MxButton.MediaStop:focus
{
  -mx-content-image: url("icon-stop-highlight.png");
}

MxStack.PreviewStack
{
  border-image: url('pip-border.png') 3;
}

/* Slide Show Buttons */
MxButton#fit-to-screen-button
{
  -mx-content-image: url("icon-fullscreen.png");
}

MxButton#fit-to-screen-button:focus
{
  -mx-content-image: url("icon-fullscreen-highlight.png");
}

MxButton#fit-to-screen-button:checked
{
  -mx-content-image: url("icon-actualsize.png");
}

MxButton#fit-to-screen-button:checked:focus
{
  -mx-content-image: url("icon-actualsize-highlight.png");
}

MxButton#rotate-button
{
  -mx-content-image: url("icon-rotate.png");
}

MxButton#rotate-button:focus
{
  -mx-content-image: url("icon-rotate-highlight.png");
}

/* Action Buttons */
MexActionButton, MexActionButton:hover
{
  font-size: 18;
  border-image: url("details-actions-separator.png") 0 0 1 0;
}

MexActionButton:focus:hover
{
  border-image: url("highlight-bg.png");
}

MxButton.Watch
{
  -mx-icon-name: "media-watch-mex";
}

MxButton.WatchFromBeginning
{
  -mx-icon-name: "media-watch-from-beginning-mex";
}

MxButton.Watch:hover, MxButton.Watch:focus
{
  -mx-icon-name: "media-watch-mex-highlight";
}

/* Slider */
MexMediaControls MxSlider
{
  -mx-trough-height: 10;
  -mx-handle-height: 28;
  background-color: #cdcec8;
}

MxSlider > #trough-background,
MxSlider > #trough-background:disabled
{
  border-image: url("timeline-bg.png") 4 5;
}

MxSlider > #fill
{
  border-image: url("timeline-highlight-white.png") 4 5;
}

MxSlider:focus > #fill
{
  border-image: url("timeline-highlight.png") 4 5;
}

MxSlider > #buffer
{
  border-image: url("timeline-buffer.png") 4 5;
}

MxSlider > #handle
{
  -mx-content-image: none;
  border-image: none;
}

MxSlider:focus > #handle
{
  -mx-content-image: url("timeline-playhead.png");
}

/* Queue Button */
MexQueueButton MxIcon
{
  -mx-icon-name: "media-addtoqueue-mex";
}

MexQueueButton:checked MxIcon
{
  -mx-icon-name: "media-removefromqueue-mex";
}

MexQueueButton MxSpinner
{
  -mx-spinner-image: url('queue-spinner.png');
  -mx-spinner-frames: 16;
  -mx-spinner-duration: 4000;
}

MexQueueButton:focus MxSpinner
{
  -mx-spinner-image: url('queue-spinner-highlight.png');
}

MexQueueButton:checked:focus
{
  border-image: url("highlight-bg.png") 0;
}

/* Media Controls */

MexMediaControls MexScrollView
{
  x-mex-scroll-shadow: none;
}

MxLabel#title-label
{
  font-weight: bold;
}

MexMediaControls, *#MexSlideShowControls
{
  padding: 25 0 0 0;
  border-image: url('controls-bg.png') 0;
}

.MexMediaControls,
MxBoxLayout.MexMediaControlsTitle,
MxBoxLayout.MexSlideShowControlsTitle,
MxBoxLayout.MexCallControlsTitle
{
  border-image: url('controls-container.png') 1;
  padding: 15;
}

#info-box
{
  padding: 0;
}

#description-label
{
  padding: 20;
}

MxBoxLayout.MexMediaControls
{
  padding: 15 20 10 20;
}

MxBoxLayout#related-box
{
  padding: 16;
}

MxIcon#info-icon-dark
{
  -mx-content-image: url("icon-info-dark.png");
}

/* Tool frame ui */
MxFrame.PipTool
{
  padding: 58 130 130 58;
}

MxFrame.FullTool
{
  padding: 0 0 0 0;
}

/* Call ui */
MxFrame.PreviewPadding
{
  padding: 58 130 0 0;
}

MxStack.PreviewStack
{
  padding: 3;
  border-image: url('pip-border.png') 3;
}

MxFrame.CallWindow
{
  padding: 3;
  border-image: url('call-window-border.png') 3;
}

MxFrame.ToolbarArea
{
  padding: 16;
  border-image: url('controls-bg.png') 0;
}

MxFrame.CallingFrame
{
  padding: 18;
  background-color: #00000033;
}

MxFrame.CallingFrameBorder
{
  padding: 1;
  background-color: #77777733;
}

/* Info Panels */
MexInfoPanel
{
  padding: 16;
  background-color: white;
}

MexInfoPanel.Full
{
  border-image: url('controls-bg.png') 0;
}

MexInfoPanel.Full MxBoxLayout.MexInfoPanelButtons
{
  border-image: url('details-bg.png') 0;
}

MexInfoPanel.Full MxBoxLayout.MexInfoPanelTitle
{
  -mx-spacing: 16;
  border-image: url('item-title-bg.png') 1 0 0;
  padding: 0 16;
}

MexInfoPanel.Full MxBoxLayout.MexInfoPanelMeta
{
  padding: 5 8 6 8;
  border-image: url('details-bg.png') 0;
}

/* Related Panel */
MexSlideShow MexContentTile
{
  padding: 4;
}

MexSlideShow MexContentTile.Important:active
{
  border-image: url("highlight-bg-white.png") 0;
}

MexSlideShow MexContentTile.Important:focus
{
  border-image: url("highlight-bg.png") 0;
}

/* Grid View */
MexScrollView.Grid
{
  padding: 20;
  border-image: url("grid-content-bg.png") 0;
}

MexScrollIndicator
{
  border-image: url("scroll-bg.png") 8;
  x-mex-scroll-handle-image: url("scroll-bar.png") 8;
}

#grid-page
{
  padding: 34 39 0 39;
}

#grid-page > #content
{
  padding: 6 0 0;
}

/* Grid Menu Buttons */
MexMenu MxButton
{
  border-image: url("details-actions-separator.png") 0 0 1 0;
}

.Menu > MxButton:focus
{
  border-image: url("highlight-bg.png") 0;
}

/* Modal Dialogs */
MxDialog > MxFrame.MxDialogBackground
{
  padding: 90;
  border-image: url('harderror-bg.png') 0;
}

MxDialog.MexErrorDialog > MxLabel
{
  font-size: 18;
  color: white;
}

MxDialog MxButton,
MxDialog MxButton:hover
{
  border-image: url("item-title-bg.png") 1 0 0;
}

MxDialog MxButton:hover:focus
{
  border-image: url("highlight-bg.png") 1 0 0;
}

/* Share actions Dialog */
MxDialog.MexShareDialog MxLabel
{
  padding: 0 0 10 0;
}

/* Settings Dialog */
MxDialog.MexInfoBarDialog
{
  padding: 28 0 0 0;
}

MxDialog.MexInfoBarDialog MxLabel.DialogHeader
{
  font-size: 22;
  color: white;
}

MxDialog.MexInfoBarDialog MxButton
{
  padding: 5 20 5 20;
}

MxDialog.MexInfoBarDialog MexTile MxButton
{
  padding: 0;
  border-image: none;
}

/* Search Column */
MexColumnView.Search MexTile
{
  x-mex-header-background-color: none;
}

/* Volume Control */
MexVolumeControl
{
  padding: 16 0 0 0;
}

MexVolumeControl > MxButton.volume-0
{
  -mx-content-image: url("volume-0.png");
}

MexVolumeControl > MxButton.volume-1
{
  -mx-content-image: url("volume-1.png");
}

MexVolumeControl > MxButton.volume-2
{
  -mx-content-image: url("volume-2.png");
}

MexVolumeControl > MxButton.volume-3
{
  -mx-content-image: url("volume-3.png");
}

MexVolumeControl > MxButton.volume-4
{
  -mx-content-image: url("volume-4.png");
}

MexVolumeControl > MxButton.volume-5
{
  -mx-content-image: url("volume-5.png");
}

MexVolumeControl > MxButton.volume-6
{
  -mx-content-image: url("volume-6.png");
}

MexVolumeControl > MxButton.volume-7
{
  -mx-content-image: url("volume-7.png");
}

MexVolumeControl > MxButton.volume-8
{
  -mx-content-image: url("volume-8.png");
}

MexVolumeControl > MxButton.volume-9
{
  -mx-content-image: url("volume-9.png");
}

MexVolumeControl > MxButton.volume-10
{
  -mx-content-image: url("volume-10.png");
}

/* Configuration Screens */
MxLabel.Para
{
  padding: 0 0 12 0;
}

MxLabel.BigPaddedPara
{
  padding: 12 0 36 0;
}

.Pane MxButton,
.Pane MxButton:checked
{
  padding: 10 100 10 100;
  border-image: url("button-bg.png") 1 0 0;
  color: white;
  font-size: 18;
}

.Pane MxButton:hover,
.Pane MxButton:focus,
.Pane MxButton:active
{
  padding: 11 100 11 100;
  border-image: url("button-bg-highlight.png") 0;
  color: #303030;
}

MxLabel.PaneTitle
{
  font-size: 24;
  padding: 0 0 50 0;
}

MxBoxLayout.Pane
{
  border-image: url("frame-bg.png") 55 55 0 55;
  padding: 70 90 0 90;
}

/* welcome */

.Pane MxIcon.Back
{
  -mx-content-image: url('icon-back.png');
  padding: 16;
}

.Pane MxIcon.Home
{
  -mx-content-image: url('icon-home.png');
  padding: 16;
}

.Pane MxIcon.Info
{
  -mx-content-image: url('icon-info.png');
  padding: 16;
}

/*
 * binding panes (back/home/info)
 */

MxTable.Binding MxLabel.Action
{
  padding: 0 0 40 0;
}

/* This is the text greyed out at the start and get that class removed when
 * it's time to do the corresponding action */
MxLabel.Inactive
{
  color: #303030;
}

MxFrame.Remote
{
  padding: 0 0 40 10;
}

/*
 * Done
 */

MxIcon.Remote
{
  -mx-content-image: url('remote.png');
  padding: 0 0 40 10;
}

/*
 * Errors
 */

MxIcon.ErrorBack
{
  -mx-content-image: url('remote-back-error.png');
  padding: 0 0 40 10;
}

MxIcon.ErrorHome
{
  -mx-content-image: url('remote-home-error.png');
  padding: 0 0 40 10;
}

MxIcon.ErrorInfo
{
  -mx-content-image: url('remote-info-error.png');
  padding: 0 0 40 10;
}

/* Search Page */
#search-page
{
  padding: 78 0 0 39;
}

MxBoxLayout#search-suggestions
{
  padding: 10;
}

MxTable#search-entry-frame
{
  border-image: url('text-input-bg.png') 10;
  padding: 2 7;
}

MxTable#search-entry-frame MxEntry
{
  caret-color: black;
  selection-background-color: #d0d0cc;
  border-image: none;
}

MxTable#search-entry-frame MxSpinner
{
  -mx-spinner-image: url('queue-spinner-highlight.png');
  -mx-spinner-frames: 16;
  -mx-spinner-duration: 4000;
}


/* search header */
MxBoxLayout#search-header
{
  padding: 11 15;
  border-image: url("panel-header-bg.png") 1 0;
}

MxBoxLayout#search-header:focus
{
  border-image: url('highlight-bg.png') 0;
}

MxBoxLayout#search-header > MxIcon.Search
{
  -mx-icon-name: "icon-panelheader-search";
}

MxBoxLayout#search-header:focus > MxIcon.Search
{
  -mx-icon-suffix: "-highlight";
}

/* suggestions column */
MxBoxLayout#suggest-column
{
  border-image: url('panel-highlight.png') 1;
}

MxBoxLayout#suggest-column > MxButton
{
  border-image: none;
  color: white;
  padding: 13 15;
}

MxBoxLayout#suggest-column > MxButton:focus
{
  border-image: url('highlight-bg.png') 0;
  color: white;
}
